---
---

@import "{{ site.theme }}";

a {
    color: SlateGray;
}

ul {
    list-style-image: url('./img/puntTaronja.png');
} 

header {
    background: #000000;
    h1 {
        font: 60px/78px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #f3f3f3;
        text-shadow: 0px 2px 0px #f2c13c;
    }
}
